<html lang="en">
	{% include 'master.html' %}
	<!-- banner -->
	<div class="banner banner2">
		<div class="container">
			<h2>Blog Single</h2>
		</div>
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
					<i>/</i></li>
				<li>Blog Single</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
	<!-- blog single -->
    <section class="w3l-blog-post-main">
        <div class="blog-content-inf py-5">
            <div class="container py-lg-5 py-4">
                <div class="blog-posthny-info">
                    <img class="img-fluid radius-image" src="static/images/blog-single.jpg" alt=" ">
                    <div class="single-post-image mt-4">
                        <div class="post-content">
                            <h5><a href="blog-single" class="primary-clr-bg mb-2">Groceries</a></h5>
                            <h3 class="text-start mb-3">At vero eos et accusamus et iusto odio dignissimos</h3>
                        </div>
                    </div>

                    <div class="single-post-content">
                        <p class="mb-4">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                            consectetur.Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing
                            elitFuga,
                            suscipit totam animi consequatur saepe blanditiis.Lorem ipsum dolor sit amet,Ea consequuntur
                            illum facere aperiam sequi optio consectetur adipisicing elit..Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. At, corrupti odit? At iure facere, porro repellat officia
                            quas,
                            dolores magnam assumenda soluta odit harum voluptate inventore ipsa maiores fugiat accusamus
                            eos
                            nulla. Iure voluptatibus explicabo officia.</p>
                        <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, corrupti odit? At
                            iure
                            facere, porro repellat officia quas, dolores magnam assumenda soluta odit harum voluptate
                            inventore ipsa maiores fugiat accusamus eos nulla. Iure voluptatibus explicabo officia.</p>
                        <blockquote class="quote my-4">
                            <q>
                                Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                consectetur.Ea
                                consequuntur illum facere aperiam sequi optio consectetur adipisicing elitFuga, suscipit
                                totam
                                animi consequatur.</q>
                            <footer class="blockquote-footer mt-3">
                                Alexander tony</footer>
                        </blockquote>
                        <p class="mb-4">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id
                            erat
                            eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                            culpa quis. . </p>

                        <p class="mb-4">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id
                            erat
                            eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                            culpa quis. . </p>
                    </div>
                    <div class="sing-post-thumb mb-lg-5 mb-4 row">
                        <div class="col-sm-6">
                            <a href="#url"><img src="static/images/blog3.jpg" class="img-fluid radius-image" alt=""></a>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-3">
                            <a href="#url"><img src="static/images/blog1.jpg" class="img-fluid radius-image" alt=""></a>
                        </div>
                    </div>
                    <p class="mt-4">Vivamus a ligula quam. Ut blandit eu leo non suscipit. <a href="#"
                            class="use-admin">Anna
                            Delpan</a> In interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla
                        quis
                        lorem neque, mattis venenatis lectus.<a href="#" class="use-admin"> Delpan Deo</a>
                        In
                        interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis
                        lectus. Duis
                        feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In interdum
                        ullamcorper
                        dolor eu mattis.Nulla quis lorem neque</p>
                    <p class="mt-4 mb-4">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id
                        erat
                        eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                        culpa quis. . </p>

                    <p class="mb-4">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id
                        erat
                        eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                        culpa quis.. </p>
                    <h3 class="title-small mt-4 mb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
                    <p class="mt-4">A ligula quam. Ut blandit eu leo non suscipit. <a href="#" class="use-admin">Anna
                            Delpan</a> In interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla
                        quis
                        lorem neque, mattis venenatis lectus.<a href="#" class="use-admin"> Delpan Deo</a>
                        In
                        interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis
                        lectus. Duis
                        feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In interdum
                        ullamcorper
                        dolor eu mattis.Nulla quis lorem neque</p>
                    <ul class="share-post my-5">
                        <li>
                            <h4 class="side-title mr-4">Share this post :</h4>
                        </li>
                        <li>
                            <a href="#link" class="facebook" title="Facebook">
                                <span class="fab fa-facebook-f" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#link" class="twitter" title="Twitter">
                                <span class="fab fa-twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#link" class="instagram" title="Instagram">
                                <span class="fab fa-instagram" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>

                    <div class="single-pagination">
                        <a class="prev-post pull-left" href="#prev"><span class="fa fa-arrow-left"
                                aria-hidden="true"></span>
                            Previous Post</a>
                        <a class="next-post pull-right" href="#next">Next Post <span class="fa fa-arrow-right"
                                aria-hidden="true"></span></a>
                    </div>


                    <div class="comments mt-5">
                        <h4 class="side-title ">Comments</h4>
                        <div class="media mt-4">
                            <div class="img-circle">
                                <img src="static/images/testi1.jpg" class="img-fluid" alt="...">
                            </div>
                            <div class="media-body">

                                <ul class="time-rply mb-2">
                                    <li><a href="#URL" class="name mt-0 mb-2 d-block">Alexander Smith</a>
                                        Oct 10, 2021 - 10:02 pm

                                    </li>
                                    <li class="reply-last">
                                        <a href="#reply" class="reply"><span class="fa fa-reply"
                                                aria-hidden="true"></span>
                                            Reply</a>
                                    </li>
                                </ul>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, hic reprehenderit
                                eum
                                cupiditate deleniti....
                            </div>
                        </div>

                        <div class="media">
                            <div class="img-circle">
                                <img src="static/images/testi2.jpg" class="img-fluid" alt="...">
                            </div>
                            <div class="media-body">
                                <ul class="time-rply mb-2">
                                    <li><a href="#URL" class="name mt-0 mb-2 d-block">Elizabeth ker</a>
                                        Oct 11, 2021 - 12:30 pm

                                    </li>
                                    <li class="reply-last">
                                        <a href="#reply" class="reply"><span class="fa fa-reply"
                                                aria-hidden="true"></span>
                                            Reply</a>
                                    </li>
                                </ul>
                                Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing elitFuga,
                                suscipit
                                totam animi consequatur.....
                                <div class="media second mt-4 p-2">
                                    <a class="img-circle img-circle-sm" href="#">
                                        <img src="static/images/testi3.jpg" class="img-fluid" alt="...">
                                    </a>
                                    <div class="media-body">
                                        <ul class="time-rply mb-2">
                                            <li><a href="#URL" class="name mt-0 mb-2 d-block">Lisa Lindey</a>
                                                Oct 11, 2021 - 14:20 pm

                                            </li>
                                            <li class="reply-last">
                                                <a href="#reply" class="reply"><span class="fa fa-reply"
                                                        aria-hidden="true"></span> Reply</a>
                                            </li>
                                        </ul>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        corrupti quos dolores et.....
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="leave-comment-form mt-lg-5 mt-4" id="comment">
                        <h4 class="side-title mb-4">Add a Comment</h4>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="input-grids row">

                                <div class="form-group col-lg-6">
                                    <input type="text" name="Name" class="form-control" placeholder="Your Name*"
                                        required="">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="email" name="Email" class="form-control" placeholder="Email*"
                                        required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="Comment" class="form-control" placeholder="Your Comment*" required=""
                                    spellcheck="false"></textarea>
                            </div>
                            <div class="submit text-right">
                                <button class="btn btn-style btn-style-primary">Post Comment </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //blog single -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

</div>
{% include 'footer.html' %}
</html>