<!doctype html>
<html lang="en">
	{% include 'master.html' %}
	<!-- banner -->
	<div class="banner banner2">
		<div class="container">
			<h2>Edit Product</h2>
		</div>
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
					<i>/</i></li>
				<li>Edit Product</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
	<!-- contact -->
	<form method="post" action="/editproducts/{{productid}}" enctype="multipart/form-data">
    {% csrf_token %}
	<section class="w3l-contact py-5" id="contact">
		<div class="container py-lg-5 py-4">
			<div class="row contact-block">
                <h3 class="mb-sm-4 mb-3">Edit Product</h3>
				<div class="col-md-6 contact-left pe-lg-5">
					<input type="text" name="pname" value="{{ product.p_name }}" class="form-control" required />

                    <select class="form-select" name="pcat" required>
                        <option value="">---Select Category---</option>
                        {% for i in catdata %}
                            <option value="{{ i.id }}" {% if i.id == product.cat_id.id %}selected{% endif %}>
                                {{ i.cat_name }}
                            </option>
                        {% endfor %}
                    </select><br />

                    <label>Current Product Image:</label><br/>
                    <img src="{{ product.image.url }}" width="100" /><br/>
                    <input type="file" class="form-control" name="productImage" accept="image/*">

                    <label>Current Back Image:</label><br/>
                    <img src="{{ product.p_image.url }}" width="100" /><br/>
					<input type="file" class="form-control" name="backImage" accept="image/*">

                    <input type="number" class="form-control" name="productPrice" value="{{ product.price }}" min="0" step="0.01" required>

					<select class="form-select" name="productStatus" required>
						<option value="">---Select Status---</option>
						<option value="Yes" {% if product.in_stock == "Yes" %}selected{% endif %}>Available</option>
						<option value="No" {% if product.in_stock == "No" %}selected{% endif %}>Unavailable</option>
					</select><br />

                    <textarea name="productDescription" class="form-control mb-3" required>{{ product.description }}</textarea>

                    <button type="submit" class="btn btn-style">Update Product</button>
				</div>
				<div class="col-md-6 contact-right mt-md-0 mt-5 ps-lg-0">
					<center><img style="height: 500px; width: 500px; border-radius: 0%; border: 0px solid #ffffff" src="/static/images/1.png" alt="User">
				</div>
			</div>
		</div>
	</section>
</form>

	<!-- //contact -->

{% include 'footer.html' %}
</html>