<!doctype html>
<html lang="en">
	{% include 'master.html' %}

	<!-- banner -->
	<div class="banner banner2">
		<div class="container">
			<h2>FAQ's</h2>
		</div>
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
					<i>/</i></li>
				<li>FAQ's</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
	<!-- faq -->
	<div class="faq py-5">
		<div class="container py-lg-4 py-3">
			<div class="w3l_faq_grids">
				<div class="w3l_faq_grid">
					<h3>1. What is Daily Basket:Essentials Delivered Daily ?</h3>
					<p><b>Ans.</b> •	Daily Basket is a quick-commerce service designed to make daily grocery shopping effortless and efficient.
						Daily Basket focuses on delivering daily essentials right to your doorstep, ensuring that you have everything you need without
						the hassle of frequent trips to the store.</p>
				</div>

				<div class="w3l_faq_grid">
					<h3>2. What kind of products does Daily Basket sell ?</h3>
					<p><b>Ans.</b> You can buy products on Daily Basket - everything from groceries including fresh fruits and vegetables, dairy products, bakery items,
						household essentials, personal care products and more. The company promises timely delivery, often within a short time.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>3. Does Blinkit deliver 24 hours/all night?</h3>
					<p><b>Ans.</b> As of now, this service (delivery between 6 am to 11 pm) is available in select areas in a few cities. </p>
				</div>
				<div class="w3l_faq_grid">
					<h3>4. How does Blinkit deliver in 10 minutes ?</h3>
					<p><b>Ans.</b> Our tech enables our partners staff to pick and pack an order within 2 minutes of the customer placing it.
						Our network of partner stores are so widely spread across cities that we have a store live almost every 2 kilometers.</p>
				</div>
				<div class="w3l_faq_grid">
					<h3>5. Do you charge for delivery ?</h3>
					<p><b>Ans.</b>Every store has its own delivery charges. The delivery charges are mentioned on the app and web at the checkout page.</p>
				</div>
	
				</div>
			</div>
		</div>
	</div>
	<!-- //faq -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
{% include 'footer.html' %}
</html>